<th:block xmlns:th="http://thymeleaf.org">

<form th:method="(${eventEntity.getId()} ? 'PUT' : 'POST')"
      th:action="@{/event/{event_identity}(event_identity=
        (${eventEntity.getId()} ? ${eventEntity.getId()} : 'add')
      )}"
      th:object="${eventEntity}">
    <div class="mb-3">
        <label for="actionId" class="form-label">Тип работ</label>
        <select id="actionId" name="actionId" class="form-select" required>
            <option selected disabled value="">Выберите регламентную работу</option>
            <option th:each="action: ${actions}"
                    th:value="${action.getId()}"
                    th:selected="${action.getId()==eventEntity.getActionId()}"
                    th:text="${action.getName()}">
                Регламентная работа
            </option>
        </select>
        <div th:if="${#fields.hasErrors('actionId')}" th:errors="*{actionId}"
             class="invalid-feedback show">actionId Error</div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="col-md-5">
                <label for="mileage" class="form-label">Пробег, км</label>
                <input type="number" id="mileage" th:field="*{mileage}" class="form-control" required/>
                <div th:if="${#fields.hasErrors('mileage')}" th:errors="*{mileage}"
                     class="invalid-feedback show">Sort Error</div>
            </div>
        </div>
        <div class="col">
            <div class="col-md-5">
                <label for="eventDate" class="form-label">Дата проведения работ</label>
                <input type="date" id="eventDate" name="eventDate" th:value="${eventEntity.getEventDate}"
                       class="form-control" required/>
                <div th:if="${#fields.hasErrors('eventDate')}" th:errors="*{eventDate}"
                     class="invalid-feedback show">EventDate Error</div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>

</th:block>