<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div th:insert="~{base/navbar}"></div>

<div class="container">
    <h1 th:text="${title}"></h1>

    <th:block th:replace="${content}"></th:block>

</div>
</body>
</html>